//- Document: _main-layout.jade

block config
    include ../_config

doctype html
html(lang="en")
    head
        // Page title
        title
            block page-title
                | #{pageTitle}


        // Meta tags
        block meta-tags
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
            meta(name="viewport" content="width=device-width=1, initial-scale=1.0")


        // Stylesheets
        block stylesheets
            link(rel="stylesheet" href="../css/global.css")

        // Fonts
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=" + googlefonts)

        // JavaScripts
        block javascripts
            if jQuery || carousel
                script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
            if scripts || carousel
                script(src="../js/main-scripts.js")
            if carousel
                script(src="../js/owl.carousel.js")



    body
        .page-wrapper
            block page-body



        //- Basic page structure:
            <div class="layout-page-wrapper">
                <header></header>
                <main>
                    <div class="layout-main-container">
                        <div class="layout-type"></div>
                    </div>
                </main>
                <footer></footer>
            </div>