h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
}

h2 {
    font-size: 34px;
    font-weight: 300;

    @include media-query(desktop-large) {
        font-size: $font-size-xxlarge;
    }
}

h3 {
    font-size: 30px;
}