/*
 *  Owl Carousel - Core
 */
.owl-carousel {
	display: none;
	width: 100%;
	margin: auto;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;
	}

	.owl-stage:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	.owl-stage-outer {
		position: relative;
		overflow: hidden;
		/* fix for flashing background */
		-webkit-transform: translate3d(0px, 0px, 0px);
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
	}
	.owl-item img {
		display: block;
		-webkit-transform-style: preserve-3d;
	}

	.owl-nav.disabled,
	.owl-dots.disabled {
		display: none;
	}

	.owl-nav .owl-prev,
	.owl-nav .owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}
}

/* No Js */
.no-js .owl-carousel {
	display: block;
}



// Individual project styles
.owl-stage {
	@include flex-parent();
}

.owl-stage-outer {
    width: 100%;
    margin: auto;
}

.owl-controls {
	@include flex-parent($justify-content: center);
}

.owl-prev,
.owl-next {
    width: 44px;
    height: 100%;
}

.owl-prev {
	@include absolute(top 0 left -5%);
	background: url("../images/owl/arrow_left-01.svg") no-repeat center;

	@include media-query(desktop-large) {
		@include absolute(top 0 left -4%);
	}
}

.owl-next {
	@include absolute(top 0 right -5%);
	background: url("../images/owl/arrow_right-01.svg") no-repeat center;

	@include media-query(desktop-large) {
		@include absolute(top 0 right -4%);
	}
}

.owl-dots {
	@include absolute(bottom -110px);
	@include flex-parent();

	& > * + * {
		margin-left: $spacing-medium;
	}
}

.owl-dot {
	@include border-radius();
	width: 10px;
	height: 10px;
	background-color: #32c291;

	&.active {
		background-color: #fff;
	}
}