@mixin media-query($breakpoint) {

    // S/M/L
    @if $breakpoint == "small" {
        @media only screen and (max-device-width: 767px) { @content; }
    }

    @if $breakpoint == "medium" {
        @media only screen and (max-device-width: 1024px) { @content; }
    }


    // mobile
    @if $breakpoint == "mobile" {
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) { @content; }
    }

    @if $breakpoint == "mobile-portrait" {
        @media only screen and (max-device-width: 320px) { @content; }
    }

    @if $breakpoint == "mobile-landscape" {
        @media only screen and (min-device-width: 321px) { @content; }
    }


    // tablet
    @if $breakpoint == "tablet" {
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { @content; }
    }

    @if $breakpoint == "tablet-portrait" {
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { @content; }
    }

    @if $breakpoint == "tablet-landscape" {
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { @content; }
    }


    // desktop
    @if $breakpoint == "desktop" {
        @media only screen and (min-width: 1025px) { @content; }
    }

    @if $breakpoint == "desktop-large" {
        @media only screen and (min-width: 1600px) { @content; }
    }

    @if $breakpoint == "desktop-xlarge" {
        @media only screen and (min-width: 2560px) { @content; }
    }
}

/*
Examples:

@include media-query($yourScreenSize) {
	prop: value;
}
*/