// .company-logo
.company-logo {
    display: block;
    width: 130px;
    height: 50px;
    background: url("../images/company-logo.png") no-repeat center;
}

// .main-intro
.main-intro {
    @include flex-parent($justify-content: center, $align-items: center);
    height: 820px;
    background: url("../images/bg__main-intro.jpg") no-repeat center;
    background-size: cover;
}

.main-intro__content-block {
    @include flex-parent($flex-direction: column, $align-items: center);
    margin-bottom: 80px;

    @include media-query(desktop-large) {
        margin-bottom: 0;
    }
}

.main-intro__heading {
    font-size: $font-size-xxlarge;
    color: #fff;

    @include media-query(desktop-large) {
        font-size: 5em;
    }
}

.main-intro__features {
    @include flex-parent();
    margin-top: $spacing-medium;
}

.main-intro__feature {
    font-size: $font-size-xxmedium;
    color: #fff;

    @include media-query(desktop-large) {
        font-size: $font-size-large;
    }

    &.has-dividers {
        @include flex-parent($justify-content: space-between, $align-items: center);
        margin-left: $font-size-xsmall;
        margin-right: $font-size-xsmall;

        &:before,
        &:after {
            display: block;
            content: "";
            width: 2px;
            height: 20px;
            background-color: #fff;
        }

        &:before {
            margin-right: $font-size-xsmall;
        }

        &:after {
            margin-left: $font-size-xsmall;
        }
    }
}

.main-intro {
    .btn {
        margin-top: $spacing-xxlarge;
    }
}



// .why-juro
.why-juro {
    padding-top: 90px;
    padding-bottom: 120px;
}

.why-juro__container {
    width: 80%;
    margin: auto;
}

.why-juro__content-block {
    @include flex-parent($flex-direction: column, $align-items: center);
}

.why-juro__why-features-block {
    @include flex-parent();
    margin-top: 60px;
}

.why-juro__why-feature {
    @include flex-parent(
            $flex-direction: column,
            $justify-content: space-between,
            $align-items: center);
    @include box-sizing();
    width: 33.3333%;
    overflow: hidden;
}

.why-juro__why-feature-image-block {
    @include align-self(stretch);
    @include flex-parent($justify-content: center, $align-items: center);
    height: 152px;

    .prevent & {
        @include justify-content(space-between);

        &:before,
        &:after {
            display: block;
            content: "";
            width: 2px;
            height: 152px;
            background-color: #c8e6dc;
        }
    }
}

.why-juro__why-feature-title {
    margin-top: $spacing-xlarge;
    text-align: center;

    .get-paid & {
        position: relative;
    }
}

.why-juro__why-feature-beta {
    @include absolute(top -14px right -13px);
    width: 60px;
    height: 25px;
    line-height: 25px;
    font-size: $font-size-xmedium;
    color: #fff;
    text-align: center;
    background-color: #687873;

    &:before {
        @include absolute(bottom -10px right 0);
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid #434d49;
        border-right: 10px solid transparent;
    }
}

.why-juro__why-feature-details {
    margin-top: $spacing-xmedium;
    padding-left: $spacing-xxlarge;
    padding-right: $spacing-xxlarge;
    line-height: 1.5em;
    font-size: $font-size-xmedium;
    text-align: center;

    .save-time & {
        padding-left: $spacing-large;
        padding-right: $spacing-large;
    }
}



// .customer-love

.customer-love {
    padding-top: 90px;
    padding-bottom: 140px;
    background-color: #3f5661;
}

.customer-love__container {
    margin: auto;
}

.customer-love__content-block {
    @include flex-parent($flex-direction: column, $align-items: center);
    width: 90%;
    margin: auto;
}

.customer-love__title {
    color: #fff;
}

.customer-love__carousel {
    width: 100%;
    margin-top: 70px;
}

.testimonial {
    @include flex-parent(
            $flex-direction: column,
            $justify-content: space-between
    );
    height: 100%;
}

.testimonial__person {
    @include flex-parent();
}

.testimonial__picture {
    width: 120px;
    height: 120px;
    margin-right: $spacing-medium;
}

.testimonial__personal-details {
    max-width: 274px;
}

.testimonial__name {
    font-size: $font-size-xxxmedium;
    font-weight: 300;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.testimonial__position {
    font-size: $font-size-xxmedium;
    font-weight: 300;
    color: $juro-text-color__green;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.testimonial__text-wrap {
    margin-top: $spacing-large;
    padding-top: 0px;
    position: relative;

    &:before {
        @include absolute(top -10px left 20px);
        display: block;
        content: "";
        border-bottom: 10px solid #2f414b;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
}

.testimonial__text {
    line-height: 1.5em;
    padding: {
        top: $spacing-small;
        left: $spacing-xmedium;
        right: $spacing-xmedium;
        bottom: $spacing-medium;
    }
    font-weight: 300;
    color: #fff;
    background-color: #2f414b;
    overflow: hidden;
}



// .invoices-n-payments
.invoices-n-payments {
    padding-top: 90px;
    padding-bottom: 90px;
}

.invoices-n-payments__container {
    @include flex-parent($justify-content: center);
    width: 90%;
    margin: auto;
    //background-color: $color-coral;

    & > * + * {
        margin-left: 70px;
    }
}

.invoices-n-payments__box {
    @include flex-parent(
            $flex-direction: column,
            $justify-content: space-between,
            $align-items: center);
    @include box-sizing();
    width: 45%;
    //min-width: 584px;
    padding: {
        top: 40px;
        left: 50px;
        right: 50px;
        bottom: 60px;
    }
    border: 1px solid #32c291;
}

.invoices-n-payments__box-title {
    font-size: 34px;
    color: #32c291;
    text-align: center;
}

.invoices-n-payments__box-text {
    line-height: 1.5em;
    margin-top: $spacing-xxxmedium;
    font-size: $spacing-xmedium;
    font-weight: 300;
    text-align: center;
}

.invoices-n-payments__box-button {
    @include border-radius(2px);
    width: 270px;
    height: 50px;
    line-height: 50px;
    margin-top: $spacing-xxxmedium;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #3f5661;
    cursor: pointer;
}



// .virtual-back-office
.virtual-back-office {
    @include flex-parent($flex-direction: column, $align-items: center);
    @include box-sizing();
    height: 469px;
    padding-top: 130px;
    padding-bottom: 130px;
    background: url("../images/bg__virtual-back-office.jpg") no-repeat;
    background-size: cover;

    @include media-query(desktop-large) {
        height: 550px;
    }
}

.virtual-back-office__title {
    font-size: $font-size-xlarge;
    color: #fff;

    @include media-query(desktop-large) {
        font-size: 3rem;
    }
}

.virtual-back-office__features {
    @include flex-parent();
    margin-top: $spacing-xxmedium;
}

.virtual-back-office__feature {
    font-size: $font-size-xxmedium;
    font-weight: 300;
    color: #fff;

    &.has-dividers {
        @include flex-parent($justify-content: space-between, $align-items: center);
        margin-left: $font-size-xsmall;
        margin-right: $font-size-xsmall;

        &:before {
            display: block;
            content: "";
            width: 2px;
            height: 20px;
            background-color: #fff;
        }

        &:before {
            margin-right: $font-size-xsmall;
        }
    }
}

.virtual-back-office {
    .btn {
        margin-top: $spacing-xlarge;

        @include media-query(desktop-large) {
            margin-top: $spacing-xxlarge;
        }
    }
}