/*
This mixin does not allow to use multiple box-shadows
@mixin box-shadow($x: 0, $y: 0, $blur: 5px, $spread: 5px, $color: rgba(0,0,0,.4), $inset: "") {
    @if ($inset != "") {
        @include css3-prefix('box-shadow', $inset $x $y $blur $spread $color);
    } @else {
        @include css3-prefix('box-shadow', $x $y $blur $spread $color);
    }
}
*/
/*
.a {
    @include absolute();
}

.b {
    @include absolute(top);
}

.c {
    @include absolute(top right);
}

.d {
    @include absolute(top right bottom);
}

.e {
    @include absolute(top right bottom left);
}

.f {
    @include absolute(top right 1em);
}

.g {
    @include absolute(top 1em right);
}

.h {
    @include absolute(top 1em right 100%);
}

.i {
    @include absolute(top right mistake);
}

.j {
    @include absolute(top 1em right 1em bottom 1em left 1em)
}
*/
/*
Examples:

@include media-query($yourScreenSize) {
	prop: value;
}
*/
/* line 3, ../sass/_base/_base.scss */
html {
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/_base/_base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: #3f5661;
  -webkit-font-smoothing: antialiased;
  background-color: #efefef;
}

/* line 24, ../sass/_base/_base.scss */
main {
  display: block;
}

/* line 26, ../sass/_base/_base.scss */
p {
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/_base/_base.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 36, ../sass/_base/_base.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 41, ../sass/_base/_base.scss */
ul li, ol li {
  margin: 0;
}

/* line 46, ../sass/_base/_base.scss */
input[type="submit"] {
  margin: 0;
  padding: 0;
  background-color: initial;
  border: none;
  cursor: pointer;
}

/* line 54, ../sass/_base/_base.scss */
input[type="search"] {
  -webkit-appearance: none;
  border: none;
}

/* line 59, ../sass/_base/_base.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 66, ../sass/_base/_base.scss */
button {
  padding: 0;
  background-color: black;
  border: none;
  cursor: pointer;
}
/* line 72, ../sass/_base/_base.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 79, ../sass/_base/_base.scss */
* {
  -webkit-transition: duration, 0.2s;
  -khtml-transition: duration, 0.2s;
  -moz-transition: duration, 0.2s;
  -ms-transition: duration, 0.2s;
  -o-transition: duration, 0.2s;
  transition: duration, 0.2s;
  outline: none;
}

/* line 91, ../sass/_base/_base.scss */
html,
body {
  height: 100%;
}

/* line 1, ../sass/_base/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

/* line 6, ../sass/_base/_headings.scss */
h2 {
  font-size: 34px;
  font-weight: 300;
}
@media only screen and (min-width: 1600px) {
  /* line 6, ../sass/_base/_headings.scss */
  h2 {
    font-size: 3rem;
  }
}

/* line 15, ../sass/_base/_headings.scss */
h3 {
  font-size: 30px;
}

/* line 2, ../sass/_pages/_home.scss */
.company-logo {
  display: block;
  width: 130px;
  height: 50px;
  background: url("../images/company-logo.png") no-repeat center;
}

/* line 10, ../sass/_pages/_home.scss */
.main-intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 820px;
  background: url("../images/bg__main-intro.jpg") no-repeat center;
  background-size: cover;
}

/* line 17, ../sass/_pages/_home.scss */
.main-intro__content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
@media only screen and (min-width: 1600px) {
  /* line 17, ../sass/_pages/_home.scss */
  .main-intro__content-block {
    margin-bottom: 0;
  }
}

/* line 26, ../sass/_pages/_home.scss */
.main-intro__heading {
  font-size: 3rem;
  color: #fff;
}
@media only screen and (min-width: 1600px) {
  /* line 26, ../sass/_pages/_home.scss */
  .main-intro__heading {
    font-size: 5em;
  }
}

/* line 35, ../sass/_pages/_home.scss */
.main-intro__features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

/* line 40, ../sass/_pages/_home.scss */
.main-intro__feature {
  font-size: 1.25rem;
  color: #fff;
}
@media only screen and (min-width: 1600px) {
  /* line 40, ../sass/_pages/_home.scss */
  .main-intro__feature {
    font-size: 2rem;
  }
}
/* line 48, ../sass/_pages/_home.scss */
.main-intro__feature.has-dividers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
/* line 53, ../sass/_pages/_home.scss */
.main-intro__feature.has-dividers:before, .main-intro__feature.has-dividers:after {
  display: block;
  content: "";
  width: 2px;
  height: 20px;
  background-color: #fff;
}
/* line 62, ../sass/_pages/_home.scss */
.main-intro__feature.has-dividers:before {
  margin-right: 0.8rem;
}
/* line 66, ../sass/_pages/_home.scss */
.main-intro__feature.has-dividers:after {
  margin-left: 0.8rem;
}

/* line 73, ../sass/_pages/_home.scss */
.main-intro .btn {
  margin-top: 3rem;
}

/* line 81, ../sass/_pages/_home.scss */
.why-juro {
  padding-top: 90px;
  padding-bottom: 120px;
}

/* line 86, ../sass/_pages/_home.scss */
.why-juro__container {
  width: 80%;
  margin: auto;
}

/* line 91, ../sass/_pages/_home.scss */
.why-juro__content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 95, ../sass/_pages/_home.scss */
.why-juro__why-features-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 60px;
}

/* line 100, ../sass/_pages/_home.scss */
.why-juro__why-feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3333%;
  overflow: hidden;
}

/* line 110, ../sass/_pages/_home.scss */
.why-juro__why-feature-image-block {
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 152px;
}
/* line 115, ../sass/_pages/_home.scss */
.prevent .why-juro__why-feature-image-block {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/* line 118, ../sass/_pages/_home.scss */
.prevent .why-juro__why-feature-image-block:before, .prevent .why-juro__why-feature-image-block:after {
  display: block;
  content: "";
  width: 2px;
  height: 152px;
  background-color: #c8e6dc;
}

/* line 129, ../sass/_pages/_home.scss */
.why-juro__why-feature-title {
  margin-top: 2.5rem;
  text-align: center;
}
/* line 133, ../sass/_pages/_home.scss */
.get-paid .why-juro__why-feature-title {
  position: relative;
}

/* line 138, ../sass/_pages/_home.scss */
.why-juro__why-feature-beta {
  position: absolute;
  top: -14px;
  right: -13px;
  width: 60px;
  height: 25px;
  line-height: 25px;
  font-size: 1.125rem;
  color: #fff;
  text-align: center;
  background-color: #687873;
}
/* line 148, ../sass/_pages/_home.scss */
.why-juro__why-feature-beta:before {
  position: absolute;
  right: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid #434d49;
  border-right: 10px solid transparent;
}

/* line 159, ../sass/_pages/_home.scss */
.why-juro__why-feature-details {
  margin-top: 1.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 1.5em;
  font-size: 1.125rem;
  text-align: center;
}
/* line 167, ../sass/_pages/_home.scss */
.save-time .why-juro__why-feature-details {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 177, ../sass/_pages/_home.scss */
.customer-love {
  padding-top: 90px;
  padding-bottom: 140px;
  background-color: #3f5661;
}

/* line 183, ../sass/_pages/_home.scss */
.customer-love__container {
  margin: auto;
}

/* line 187, ../sass/_pages/_home.scss */
.customer-love__content-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

/* line 193, ../sass/_pages/_home.scss */
.customer-love__title {
  color: #fff;
}

/* line 197, ../sass/_pages/_home.scss */
.customer-love__carousel {
  width: 100%;
  margin-top: 70px;
}

/* line 202, ../sass/_pages/_home.scss */
.testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

/* line 210, ../sass/_pages/_home.scss */
.testimonial__person {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 214, ../sass/_pages/_home.scss */
.testimonial__picture {
  width: 120px;
  height: 120px;
  margin-right: 1rem;
}

/* line 220, ../sass/_pages/_home.scss */
.testimonial__personal-details {
  max-width: 274px;
}

/* line 224, ../sass/_pages/_home.scss */
.testimonial__name {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 233, ../sass/_pages/_home.scss */
.testimonial__position {
  font-size: 1.25rem;
  font-weight: 300;
  color: #32c291;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 242, ../sass/_pages/_home.scss */
.testimonial__text-wrap {
  margin-top: 2rem;
  padding-top: 0px;
  position: relative;
}
/* line 247, ../sass/_pages/_home.scss */
.testimonial__text-wrap:before {
  position: absolute;
  top: -10px;
  left: 20px;
  display: block;
  content: "";
  border-bottom: 10px solid #2f414b;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* line 257, ../sass/_pages/_home.scss */
.testimonial__text {
  line-height: 1.5em;
  padding-top: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1rem;
  font-weight: 300;
  color: #fff;
  background-color: #2f414b;
  overflow: hidden;
}

/* line 274, ../sass/_pages/_home.scss */
.invoices-n-payments {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* line 279, ../sass/_pages/_home.scss */
.invoices-n-payments__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
/* line 285, ../sass/_pages/_home.scss */
.invoices-n-payments__container > * + * {
  margin-left: 70px;
}

/* line 290, ../sass/_pages/_home.scss */
.invoices-n-payments__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 45%;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
  border: 1px solid #32c291;
}

/* line 307, ../sass/_pages/_home.scss */
.invoices-n-payments__box-title {
  font-size: 34px;
  color: #32c291;
  text-align: center;
}

/* line 313, ../sass/_pages/_home.scss */
.invoices-n-payments__box-text {
  line-height: 1.5em;
  margin-top: 1.75rem;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}

/* line 321, ../sass/_pages/_home.scss */
.invoices-n-payments__box-button {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 270px;
  height: 50px;
  line-height: 50px;
  margin-top: 1.75rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #3f5661;
  cursor: pointer;
}

/* line 338, ../sass/_pages/_home.scss */
.virtual-back-office {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  height: 469px;
  padding-top: 130px;
  padding-bottom: 130px;
  background: url("../images/bg__virtual-back-office.jpg") no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 1600px) {
  /* line 338, ../sass/_pages/_home.scss */
  .virtual-back-office {
    height: 550px;
  }
}

/* line 352, ../sass/_pages/_home.scss */
.virtual-back-office__title {
  font-size: 2.5rem;
  color: #fff;
}
@media only screen and (min-width: 1600px) {
  /* line 352, ../sass/_pages/_home.scss */
  .virtual-back-office__title {
    font-size: 3rem;
  }
}

/* line 361, ../sass/_pages/_home.scss */
.virtual-back-office__features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

/* line 366, ../sass/_pages/_home.scss */
.virtual-back-office__feature {
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}
/* line 371, ../sass/_pages/_home.scss */
.virtual-back-office__feature.has-dividers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
/* line 376, ../sass/_pages/_home.scss */
.virtual-back-office__feature.has-dividers:before {
  display: block;
  content: "";
  width: 2px;
  height: 20px;
  background-color: #fff;
}
/* line 384, ../sass/_pages/_home.scss */
.virtual-back-office__feature.has-dividers:before {
  margin-right: 0.8rem;
}

/* line 391, ../sass/_pages/_home.scss */
.virtual-back-office .btn {
  margin-top: 2.5rem;
}
@media only screen and (min-width: 1600px) {
  /* line 391, ../sass/_pages/_home.scss */
  .virtual-back-office .btn {
    margin-top: 3rem;
  }
}

/* line 1, ../sass/_modules/_page-header.scss */
.page-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 75px;
  background-color: transparent;
}

/* line 7, ../sass/_modules/_page-header.scss */
.page-header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

/* line 14, ../sass/_modules/_page-header.scss */
.page-header .company-logo {
  margin-right: auto;
}

/* line 20, ../sass/_modules/_page-header.scss */
.page-header__nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 23, ../sass/_modules/_page-header.scss */
.page-header__nav ul > * + * {
  margin-left: 3rem;
}
/* line 28, ../sass/_modules/_page-header.scss */
.page-header__nav a {
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
/* line 35, ../sass/_modules/_page-header.scss */
.page-header__nav a:hover {
  color: #38d0a6;
}

/* line 41, ../sass/_modules/_page-header.scss */
.page-header__sign-up {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 110px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #fff;
}
/* line 49, ../sass/_modules/_page-header.scss */
.page-header__sign-up:hover {
  border-color: #38d0a6;
}

/* line 1, ../sass/_modules/_page-footer.scss */
.page-footer {
  padding-top: 85px;
  padding-bottom: 85px;
  background-color: #4c605d;
}

/* line 7, ../sass/_modules/_page-footer.scss */
.page-footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

/* line 13, ../sass/_modules/_page-footer.scss */
.page-footer__rights {
  margin-top: 2.5rem;
}

/* line 17, ../sass/_modules/_page-footer.scss */
.page-footer__terms-n-privacy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

/* line 22, ../sass/_modules/_page-footer.scss */
.page-footer__rights-reserved,
.terms-of-use,
.privacy-policy,
.cookies {
  font-size: 1.125rem;
  font-weight: 300;
  color: #d7d7d7;
}

/* line 31, ../sass/_modules/_page-footer.scss */
.terms-of-use {
  margin-right: 0.5rem;
}

/* line 35, ../sass/_modules/_page-footer.scss */
.privacy-policy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* line 41, ../sass/_modules/_page-footer.scss */
.cookies {
  margin-left: 0.5rem;
}

/* line 45, ../sass/_modules/_page-footer.scss */
.terms-n-privacy__link-divider {
  width: 2px;
  height: 18px;
  background-color: #d7d7d7;
}

/* line 51, ../sass/_modules/_page-footer.scss */
.page-footer__links-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 54, ../sass/_modules/_page-footer.scss */
.page-footer__links-block > * + * {
  margin-left: 2rem;
}
/* line 61, ../sass/_modules/_page-footer.scss */
.page-footer__links-block a {
  font-size: 1.125rem;
  color: #32c291;
  text-transform: uppercase;
}

/* line 68, ../sass/_modules/_page-footer.scss */
.page-footer__contacts-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

/* line 73, ../sass/_modules/_page-footer.scss */
.page-footer__contact-details {
  line-height: 1.5em;
  font-size: 1.125rem;
  font-weight: 300;
  color: #d7d7d7;
  text-align: right;
}

/* line 81, ../sass/_modules/_page-footer.scss */
.page-footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 84, ../sass/_modules/_page-footer.scss */
.page-footer__social > * + * {
  margin-left: 1rem;
}
/* line 88, ../sass/_modules/_page-footer.scss */
.page-footer__social a {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 96, ../sass/_modules/_page-footer.scss */
.page-footer__social a.tw {
  background-image: url("../images/social/tw.svg");
}
/* line 97, ../sass/_modules/_page-footer.scss */
.page-footer__social a.fb {
  background-image: url("../images/social/fb.svg");
}
/* line 98, ../sass/_modules/_page-footer.scss */
.page-footer__social a.linkedin {
  background-image: url("../images/social/linkedin.svg");
}

/* line 1, ../sass/_modules/_btn.scss */
.btn {
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding-top: 1.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.25rem;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  background-color: #32c291;
}
/* line 14, ../sass/_modules/_btn.scss */
.btn:hover {
  background-color: #40ce9d;
}

/*
 *  Owl Carousel - Core
 */
/* line 4, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel {
  display: none;
  width: 100%;
  margin: auto;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
/* line 13, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
/* line 18, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 27, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
/* line 34, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
/* line 42, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel .owl-item img {
  display: block;
  -webkit-transform-style: preserve-3d;
}
/* line 47, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
/* line 52, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 64, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel.owl-loaded {
  display: block;
}
/* line 68, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
/* line 73, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}
/* line 77, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel.owl-refresh .owl-item {
  display: none;
}
/* line 81, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 88, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
/* line 93, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}
/* line 97, ../sass/_modules/_owlcarousel/_core.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
/* line 103, ../sass/_modules/_owlcarousel/_core.scss */
.no-js .owl-carousel {
  display: block;
}

/* line 110, ../sass/_modules/_owlcarousel/_core.scss */
.owl-stage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 114, ../sass/_modules/_owlcarousel/_core.scss */
.owl-stage-outer {
  width: 100%;
  margin: auto;
}

/* line 119, ../sass/_modules/_owlcarousel/_core.scss */
.owl-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 123, ../sass/_modules/_owlcarousel/_core.scss */
.owl-prev,
.owl-next {
  width: 44px;
  height: 100%;
}

/* line 129, ../sass/_modules/_owlcarousel/_core.scss */
.owl-prev {
  position: absolute;
  top: 0;
  left: -5%;
  background: url("../images/owl/arrow_left-01.svg") no-repeat center;
}
@media only screen and (min-width: 1600px) {
  /* line 129, ../sass/_modules/_owlcarousel/_core.scss */
  .owl-prev {
    position: absolute;
    top: 0;
    left: -4%;
  }
}

/* line 138, ../sass/_modules/_owlcarousel/_core.scss */
.owl-next {
  position: absolute;
  top: 0;
  right: -5%;
  background: url("../images/owl/arrow_right-01.svg") no-repeat center;
}
@media only screen and (min-width: 1600px) {
  /* line 138, ../sass/_modules/_owlcarousel/_core.scss */
  .owl-next {
    position: absolute;
    top: 0;
    right: -4%;
  }
}

/* line 147, ../sass/_modules/_owlcarousel/_core.scss */
.owl-dots {
  position: absolute;
  bottom: -110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 151, ../sass/_modules/_owlcarousel/_core.scss */
.owl-dots > * + * {
  margin-left: 1rem;
}

/* line 156, ../sass/_modules/_owlcarousel/_core.scss */
.owl-dot {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #32c291;
}
/* line 162, ../sass/_modules/_owlcarousel/_core.scss */
.owl-dot.active {
  background-color: #fff;
}

/*
 *  Owl Carousel - Animate Plugin
 */
/* line 5, ../sass/_modules/_owlcarousel/_animate.scss */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
/* line 9, ../sass/_modules/_owlcarousel/_animate.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}
/* line 12, ../sass/_modules/_owlcarousel/_animate.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}
/* line 15, ../sass/_modules/_owlcarousel/_animate.scss */
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
/* line 5, ../sass/_modules/_owlcarousel/_autoheight.scss */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
/* line 7, ../sass/_modules/_owlcarousel/_lazyload.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
/* line 12, ../sass/_modules/_owlcarousel/_lazyload.scss */
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
/* line 6, ../sass/_modules/_owlcarousel/_video.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
/* line 12, ../sass/_modules/_owlcarousel/_video.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
/* line 27, ../sass/_modules/_owlcarousel/_video.scss */
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
/* line 31, ../sass/_modules/_owlcarousel/_video.scss */
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
/* line 36, ../sass/_modules/_owlcarousel/_video.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
/* line 45, ../sass/_modules/_owlcarousel/_video.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
