.btn {
    @include border-radius(2px);
    padding: {
        top: $spacing-xmedium;
        left: $spacing-xxmedium;
        right: $spacing-xxmedium;
        bottom: $spacing-xmedium;
    }
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: $btn-color;

    &:hover {
        background-color: lighten($btn-color, 5%);
    }
}