$footerHeight: 0;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-wrapper {
    min-height: 100%;
    position: relative;
}

main {
    padding-bottom: $footerHeight;   /* Height of the footer */

    //@include media-query(screen-size-medium) {
    //    padding-bottom: 252px;
    //}

    //@include media-query(screen-size-small) {
    //    padding-bottom: 472px;
    //}
}

.page-footer {
    @include absolute(bottom 0);
    width: 100%;
}



// CSS rule for IE 6 and IE 5.5:

.page-wrapper {
    //height:100%;
}