.page-footer {
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: $page-footer-bg;
}

.page-footer__container {
    @include flex-parent($justify-content: space-between);
    width: 80%;
    margin: auto;
}

.page-footer__rights {
    margin-top: $font-size-xlarge;
}

.page-footer__terms-n-privacy {
    @include flex-parent($align-items: center);
    margin-top: $spacing-xsmall;
}

.page-footer__rights-reserved,
.terms-of-use,
.privacy-policy,
.cookies {
    font-size: $font-size-xmedium;
    font-weight: 300;
    color: #d7d7d7;
}

.terms-of-use {
    margin-right: $spacing-xsmall;
}

.privacy-policy {
    @include flex-parent();
    margin-left: $spacing-xsmall;
    margin-right: $spacing-xsmall;
}

.cookies {
    margin-left: $spacing-xsmall;
}

.terms-n-privacy__link-divider {
    width: 2px;
    height: 18px;
    background-color: #d7d7d7;
}

.page-footer__links-block {
    @include flex-parent($align-items: flex-end);

    & > * + * {
        margin-left: $spacing-large;
    }

    li:last-child {
    }

    a {
        font-size: $font-size-xmedium;
        color: #32c291;
        text-transform: uppercase;
    }
}

.page-footer__contacts-block {
    @include flex-parent($flex-direction: column, $justify-content: space-between);
    padding-bottom: 5px;
}

.page-footer__contact-details {
    line-height: 1.5em;
    font-size: $font-size-xmedium;
    font-weight: 300;
    color: #d7d7d7;
    text-align: right;
}

.page-footer__social {
    @include flex-parent($justify-content: flex-end);

    & > * + * {
        margin-left: $spacing-medium;
    }

    a {
        @include border-radius(2px);
        display: block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;

        &.tw { background-image: url("../images/social/tw.svg"); }
        &.fb { background-image: url("../images/social/fb.svg"); }
        &.linkedin { background-image: url("../images/social/linkedin.svg"); }
    }
}