.page-header {
    @include absolute(top 0 left 0 right 0);
    padding-top: 75px;
    background-color: transparent;
}

.page-header__container {
    @include flex-parent();
    width: 80%;
    margin: auto;
}

.page-header {
    .company-logo {
        margin-right: auto;
    }
}

.page-header__nav {
    ul {
        @include flex-parent($align-items: center);

        & > * + * {
            margin-left: $spacing-xxlarge;
        }
    }

    a {
        display: block;
        font-size: $font-size-xmedium;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;

        &:hover {
            color: #38d0a6;
        }
    }
}

.page-header__sign-up {
    @include border-radius(2px);
    width: 110px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #fff;

    &:hover {
        border-color: #38d0a6;
    }
}