section.customer-love
    .customer-love__container
        .customer-love__content-block
            h2.customer-love__title Customer love

            .customer-love__carousel
                .owl-carousel
                    .testimonial
                        .testimonial__person
                            img.testimonial__picture(src="../images/avatars/testimonials__myles.png")
                            .testimonial__personal-details
                                .testimonial__name Myles Cowper-Coles
                                .testimonial__position Full Stack Developer
                        .testimonial__text-wrap
                            .testimonial__text.
                                Juro is super easy to use, saves me time
                                and helps me build trust with my clients.
                                Would recommend it to any freelance developers out there.
                                The contracts are nicely designed too!

                    .testimonial.charlie
                        .testimonial__person
                            img.testimonial__picture(src="../images/avatars/testimonials__charlie.png")
                            .testimonial__personal-details
                                .testimonial__name Charlie Stewart
                                .testimonial__position Special Effects Editor
                        .testimonial__text-wrap
                            .testimonial__text.
                                Juro has saved me a huge amount of time and hassle.
                                I want to spend my time on the kind of client work I love,
                                rather than on endless admin - Juro allows me to do that.

                    .testimonial
                        .testimonial__person
                            img.testimonial__picture(src="../images/avatars/testimonials__ben.png")
                            .testimonial__personal-details
                                .testimonial__name Ben Reynhart
                                .testimonial__position UX/UI Designer
                        .testimonial__text-wrap
                            .testimonial__text.
                                Some clients are great at paying on time, but some are not.
                                I love the idea that Juro ensures I get paid on time,
                                without the awkwardness of chasing the client.