section.invoices-n-payments
    .invoices-n-payments__container
        .invoices-n-payments__box
            h2.invoices-n-payments__box-title Looking for invoices?
            .invoices-n-payments__box-text
                | We are currently building an invoicing feature.
                br
                | Leave us your email address and we will let
                br
                | you know when this goes live.
            .invoices-n-payments__box-button Join waiting list

        .invoices-n-payments__box
            h2.invoices-n-payments__box-title Need faster payments?
            .invoices-n-payments__box-text
                | Sign up for early access to our payment system,
                br
                | which integrates seamlessly into your online
                br
                | accounting provider and helps you get paid on time.
            .invoices-n-payments__box-button Join beta list