section.main-intro
    .main-intro__content-block
        h1.main-intro__heading Freelancing, without the hassle.
        .main-intro__features
            .main-intro__feature beautiful contracts
            .main-intro__feature.has-dividers e-signing
            .main-intro__feature integrated payments
        button.btn Create free contracts