section.virtual-back-office
    h2.virtual-back-office__title A virtual back office for freelancers.
    .virtual-back-office__features
        .virtual-back-office__feature focus on the work you love
        .virtual-back-office__feature.has-dividers leave everything else to us
    button.btn Create free contracts