section.why-juro
    .why-juro__container
        .why-juro__content-block
            h2.why-juro__title Why Juro?
            .why-juro__why-features-block
                .why-juro__why-feature.save-time
                    .why-juro__why-feature-image-block
                        img.why-juro__why-feature-image(src="../images/why-juro/save-time.svg")
                    h3.why-juro__why-feature-title Save time
                    .why-juro__why-feature-details.
                        by creating and signing beautifully-designed,
                        responsive legal contracts in minutes

                .why-juro__why-feature.prevent
                    .why-juro__why-feature-image-block
                        img.why-juro__why-feature-image(src="../images/why-juro/prevent.svg")
                    h3.why-juro__why-feature-title Prevent scope creep
                    .why-juro__why-feature-details.
                        by agreeing clear terms, so you can get
                        paid for the job you agreed to do

                .why-juro__why-feature.get-paid
                    .why-juro__why-feature-image-block
                        img.why-juro__why-feature-image(src="../images/why-juro/get-paid.svg")
                    h3.why-juro__why-feature-title Get paid sooner
                        .why-juro__why-feature-beta Beta
                    .why-juro__why-feature-details.
                        through our integrated payment system
                        and never need to chase the client again