block config
    - var pageTitle = ""
    - var googlefonts = "Open+Sans:400,300,300italic,400italic,600,700italic,800,800italic,600italic,700&subset=cyrillic-ext,latin"
    - var jQuery = false
    - var scripts = false
    - var carousel = false
