extends _layouts/_main-layout

block config
    - var pageTitle = "Juro"
    - var carousel = true



block page-body
    include _modules/_page-header

    main
        include _page-partials/_home--main-intro
        include _page-partials/_home--why-juro
        include _page-partials/_home--customer-love
        include _page-partials/_home--invoices-n-payments
        include _page-partials/_home--virtual-back-office

    include _modules/_page-footer