// navmenu mixin:

mixin navmenu(menuItems)
    nav.navmenu
        ul.navmenu__container
            each menuItem in menuItems
                li.navmenu__item
                    a.navmenu__link()&attributes({"href" : menuItem.href})= menuItem.title

                    if menuItem.submenu
                        nav.navsubmenu
                            ul.navsubmenu__container
                                each submenuItem in menuItem.submenu
                                    li.navmenu__item&attributes({"class": submenuItem.class})
                                        a.navmenu__link()&attributes({"href" : submenuItem.href})= submenuItem.title


// How to use:

//+navmenu([
//    {"title" : "", "href" : "",
//        "submenu" : [
//            {"title" : "", "href" : ""},
//            {"title" : "", "href" : ""},
//            {"title" : "", "href" : ""},
//            {"title" : "", "href" : ""},
//            {"title" : "", "href" : ""},
//            {"title" : "", "href" : ""}
//        ]
//    },
//    {"title" : "", "href" : ""},
//    {"title" : "", "href" : ""}
//])