footer.page-footer
    .page-footer__container
        .page-footer__logo-block
            a.company-logo(href="#home")
            .page-footer__rights
                .page-footer__rights-reserved © Juro 2015. All rights reserved.
                .page-footer__terms-n-privacy
                    a.terms-of-use(href="#terms-of-use") Terms of use
                    .terms-n-privacy__link-divider
                    a.privacy-policy(href="#privacy-policy") Privacy
                    .terms-n-privacy__link-divider
                    a.cookies(href="#cookies") Cookies

        ul.page-footer__links-block
            li
                a(href="#about-us") About us
            li
                a(href="#pricing") Pricing
            li
                a(href="#faqs") Faqs
            li
                a(href="#blog") Blog

        .page-footer__contacts-block
            .page-footer__contact-details
                | info@juro.io
                br
                | +44 (0) 20 3289 7923
                br
                | 8 Warner Yard
                br
                | London, EC1R 5EY
            ul.page-footer__social
                li: a.tw(href="#tw")
                li: a.fb(href="#fb")
                li: a.linkedin(href="#linkedin")