header.page-header
    .page-header__container
        a.company-logo(href="#home")
        nav.page-header__nav
            ul
                li
                    a(href="#blog") blog
                li
                    a(href="#pricing") pricing
                li
                    a(href="#log-in") log in
                li.page-header__sign-up
                    a(href="#sign-up") sign up