// Document: _themes.scss

$body-bg: #efefef;
$page-footer-bg: #4c605d;

// text colors
$juro-text-color: #3f5661;
$juro-text-color__green: #32c291;



// Temporary colors:
$color-coral: lighten(#ff9876, 10%);
$color-yellow: lighten(#fff0b0, 5%);
$color-blue: lighten(dodgerblue, 30%);
$color-green: lighten(forestgreen, 50%);


// btn styles
$btn-color: #32c291;